a{
    color: inherit!important;
}
body{
    font-family: Bahnschrift!important;
}
.guest-admin{
   background-image: url("../images/minierp-login.jpg");
    background-size: cover;
}
.login-box{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.login-btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.mw-80px{
    max-width: 80px;
}
.logo-padding{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.strongLabel{
    background: #323BC2;
    width: max-content;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}
.dTable ul{
    display: inline-flex;
}
.dTable ul li{
    margin-right: 3px;
}
.redtext{
    color: #dc3545 !important;
}
.bluetext{
    color: #007bff !important;
}
.greentext{
    color: #28a745 !important;
}
.purpletext{
    color: rgba(178,60,253,1) !important;
}
hr{
    background-color: grey!important;
}
.desc-add h2{
    font-size: 20px;
}
select.order_style_-1{
    background: #dc3545;
    color: white;
}
select.order_style_0{
    background: rgba(178,60,253,1);
    color: white;
}
select.order_style_1{
    background: #007bff;
    color: white;
}
select.order_style_2{
    background: grey;
    color: white;
}
select.order_style_3{
    background: #28a745;
    color: white;
}
.discuss.open{
    background: #28a745;
    color: white;
}
.discuss.close{
    background: #dc3545;
    color: white;
}
.helpdesk_icon{
    background: red;
    padding: 6px;
    color: white!important;
    margin-top: 0px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
